.disease-choice-button{
    align-items: center;
    justify-content: center;
    background-color: #31448e;
    color: white;
    font-size: 25px;
    border-color: #31448e;
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}
.disease-choice-button-selected{
    align-items: center;
    justify-content: center;
    background-color: #5192a5;
    color: white;
    font-size: 25px;
    border-color: #5192a5;
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 20px white, 0 0px 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.disease-choice-button:hover {
    background-color: #5192a5;
    border-color: #5192a5;
}

.h2-without-space {
    font-family: "Comic Sans MS", serif;
    color: darkblue;
    padding-top: 0.1%;
    padding-bottom: 1%;
    font-size: 40px;
    text-shadow: 0 0 10px white, 0 1px 0 rgba(0,0,0, .25);
}
input[type="file"] {
    border-color: #31448e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    min-width: 200px;
}
.file-name{
    font-size: 20px;
    color: white;
}
.choose-dataset-container-row {
    /*align-items: center;*/  /*if this is commented, the content appears at the top*/
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.choose-dataset-container-col {
    flex-direction: column;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
}
.table-filters{
    /*text-align: center;*/
    /*justify-content: center;*/
    /*width: 60%;*/
    padding-left: 15%;
    padding-right: 15%;
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}
.label-field-group-choose-dataset{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;
    max-width: 40%;
}
.label-multiselect-group-choose-dataset{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;
}
.label-choose-dataset{
    color: white;
    text-shadow: 0 0 8px black, 0 2px 0 rgba(0,0,0, .25);
    text-align: start;
    min-width: 18%;
    padding-right: 15px;
}
.label-table-description-container{
    padding-top: 25px;
    padding-bottom: 5px;
}
.label-table-description{
    color: white;
    font-size: 20px;
    text-shadow: 0 0 8px black, 0 2px 0 rgba(0,0,0, .25);
    text-align: start;
}
.input-container-col-less-space {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.column-header-class1 {
    background-color: darkgreen;
    border: 2px solid darkgreen;
    padding: 10px;
    color: white;
}
.column-header-class2 {
    background-color: darkred;
    border: 2px solid darkred;
    padding: 10px;
    color: white;
}
.column-header-other-columns{
    border: 2px solid #0b0b9b;
    padding: 10px;
    color: white;
    background-color: #0b0b9b;
}
.column-header-id{
    border: 2px solid #131361;
    padding: 10px;
    color: white;
    background-color: #131361;
}
.box {
    height: 15px;
    width: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    /*clear: both;*/
}
.class1-color {
    background-color: darkgreen;
    border: 1px solid darkgreen;
}
.class2-color {
    background-color: darkred;
    border: 1px solid darkred;
}
.other-columns-color {
    background-color: #0b0b9b;
    border: 1px solid #0b0b9b;
}
.id-color {
    background-color: #131361;
    border: 1px solid #131361;
}
.table-colors-legend{
    max-width: 160px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 1%;
}
.legend-container-row {
    display: flex;
    flex-direction: row;
}
