.disease-choice-button{
    align-items: center;
    justify-content: center;
    background-color: #31448e;
    color: white;
    font-size: 25px;
    border-color: #31448e;
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}
.disease-choice-button-selected{
    align-items: center;
    justify-content: center;
    background-color: #5192a5;
    color: white;
    font-size: 25px;
    border-color: #5192a5;
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 20px white, 0 0px 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.disease-choice-button:hover {
    background-color: #5192a5;
    border-color: #5192a5;
}

.h2-without-space {
    font-family: "Comic Sans MS", serif;
    color: darkblue;
    padding-top: 0.1%;
    padding-bottom: 1%;
    font-size: 40px;
    text-shadow: 0 0 10px white, 0 1px 0 rgba(0,0,0, .25);
}
input[type="file"] {
    border-color: #31448e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    min-width: 200px;
}
.file-name{
    font-size: 20px;
    color: white;
}
.choose-dataset-container-row {
    /*align-items: center;*/  /*if this is commented, the content appears at the top*/
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.choose-dataset-container-col {
    flex-direction: column;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
}
.table-filters{
    text-align: center;
    justify-content: center;
    /*width: 60%;*/
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.label-field-group-choose-dataset{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 9px;
    padding-bottom: 9px;
}