input[type="file"] {
    border-color: #31448e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    min-width: 200px;
}
.file-name{
    font-size: 20px;
    color: white;
}
