.container-artificial-imputation{
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}
.container-col-artificial-imputation{
    align-items: center;     /*if they are commented, the content of the statistics_options appear at the top and the image from the right can be resized*/
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.center-positioning{
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-item{
    display: inline;
}
.simple-container-col {
    flex-direction: column;
}
.statistics-view-errors{
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;     /*if they are commented, the content of the statistics_options appear at the top and the image from the right can be resized*/
    display: flex;
    flex-direction: column;
    /*margin: 20px;*/
}
.button-in-col{
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-item-errors{
    display: flex;
    justify-content: space-between;
    margin-right: 30px
}
.left-part{
    text-align: left;
    padding-right: 20px;
}
.right-part{
    text-align: right;
}
.errors-button{
    font-size: 16px;
    width: 300px;
}