.container-artificial-imputation{
    padding-left: 20px;
    padding-right: 20px;
}
.container-col-artificial-imputation{
    align-items: center;     /*if they are commented, the content of the statistics_options appear at the top and the image from the right can be resized*/
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.center-positioning{
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-item{
    display: inline;
}
.container-col-with-background {
    flex-direction: column;
}
.statistics-view-errors{
    text-align: center;
    justify-content: center;
    padding: 35px;
}
.list-item-errors{
    display: flex;
    justify-content: space-between;
}
.left-part{
    text-align: left;
    padding-right: 20px;
}
.right-part{
    text-align: right;
}